{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    
{% endblock %}

  {% block content %}
<div class = jumbotron>
<h3> {{quote['quote']}}</h3>
<h3> {{quote['author']}}</h3>
<h3> {{quote['permalink']}}</h3>
</div>
  <form>
  <h1 class="text-center">Enter your blog in the form below</h1>

        <div id="post-form" class="col-md-6" style= 'justify-content: center'>
          <div class="panel">
            <div class="panel-body">

            {{ wtf.quick_form(blog_form) }}
            {{simplemde.load}}

        </div>
      </div>
    </div>
  </form>



{% endblock %}
